<header class="header">
    <div class="left-section">
        <button class="home-btn" routerLink="/home">
            <!-- Custom icon (SVG or image) -->
            <img class="home-icon" src="app-resourses/book-store-icon.svg" />
            <div class="tooltip">Home</div>
        </button>
        <div class="app-name">Booklet</div>
    </div>
    
    <div class="middle-section">
        <button class="browse-btn" routerLink="/all">
            <div >Browse</div>
            <div class="tooltip">View all books </div>
        </button>
        @if (isLoggedIn) {
        <button class="add-btn" routerLink="/add">
            <div >Add</div>
            <div class="tooltip">Add new books...</div>
        </button>
        }
    </div>


    <div class="right-section">
        @if (!isLoggedIn) {

            <button class="guest-btns" routerLink="/login">
                <div>Login</div>
                <div class="tooltip">Login now!</div>
            </button>
            <button class="guest-btns" routerLink="/register">
                <div>Rergister</div>
                <div class="tooltip">Create new account</div>
            </button>
        } @else {
            
            <button class="user-btns" (click)="logout()">
                <div>Logout</div>
                <div class="tooltip">See you soon ;)</div>
            </button>
            <button class="user-btns" routerLink="/profile">
                <img class="profile-icon" src="app-resourses/profile.svg" />
                <div class="tooltip">'s profile</div>
            </button>
            <button class="user-btns" routerLink="/cart">
                <img class="cart-icon" src="app-resourses/cart.svg" />
                <div class="tooltip">View cart</div>
            </button>
        }

    </div>



</header>