<main>
    <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="hero-content">
            <h2>Welcome to Booklet</h2>
            <p>Your online bookstore for all your reading needs.</p>
            <a routerLink="/all" class="shop-btn">Browse all</a>
        </div>
    </section>

    <section class="auth-section">
            <h2>Do you have an account?</h2>
        <div class="auth-links">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
    </section>

    <!-- Featured Books Section -->
    <section class="featured-books" id="books">
        <h2>Top rated books</h2>
        <div class="book-list">
            @for (book of books; track $index) {

            <div class="book-card" routerLink="/all/details/{{book._id}}">
            <div class="rating">{{book.rating}}</div>
                <img src="{{book.imageUrl}}">
                <h3>{{book.title}}</h3>
                <p>{{book.price | number: '1.0-2' }} lv.</p>
            </div>
            
        }

    </div>
    </section>
</main>
