<main>
    <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="hero-content">
            <h2>Welcome to Booklet</h2>
            <p>Your online bookstore for all your reading needs.</p>
            <a routerLink="/all" class="shop-btn">Browse all</a>
        </div>
    </section>

    <section class="auth-section">
            <h2>Do you have an account?</h2>
        <div class="auth-links">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
    </section>

    <!-- Featured Books Section -->
    <section class="featured-books" id="books">
        <h2>Top rated books</h2>
        <div class="book-list">
            <div class="book-card">
                <img src="https://cdn.ozone.bg/media/catalog/product/cache/1/image/400x498/a4e40ebdc3e371adff845072e1c73f37/p/o/9a6228df7c0b1ca7f47c5c5102188bea/pod-igoto-30.jpg" alt="Book 1">
                <h3>Book Title 1</h3>
                <p>$19.99</p>
            </div>
            <div class="book-card">
                <img src="https://cdn.ozone.bg/media/catalog/product/cache/1/image/400x498/a4e40ebdc3e371adff845072e1c73f37/p/o/9a6228df7c0b1ca7f47c5c5102188bea/pod-igoto-30.jpg" alt="Book 2">
                <h3>Book Title 2</h3>
                <p>$15.99</p>
            </div>
            <div class="book-card">
                <img src="https://cdn.ozone.bg/media/catalog/product/cache/1/image/400x498/a4e40ebdc3e371adff845072e1c73f37/p/o/9a6228df7c0b1ca7f47c5c5102188bea/pod-igoto-30.jpg" alt="Book 3">
                <h3>Book Title 3</h3>
                <p>$25.99</p>
            </div>
        </div>
    </section>
</main>
