footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    flex-direction: row;
    background-color:  rgb(248, 189, 138);
    height: fit-content;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;
    z-index: 10;
    }
    
    footer p {
        margin: 0; 
      }
      