footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    flex-direction: row;
    border: 1px black solid;
    background-color:  rgb(248, 189, 138);
    height: fit-content;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;
    }
    
    footer p {
        margin: 0; 
      }

      

.p {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
  
    font-style: normal;
  }