<section class="profile-container">

    <!-- Profile Section -->
    <div class="profile-header">
      <!-- Profile Picture -->
      <div class="profile-picture">
        <img src="{{profileDetails.profileImg}}" alt="Profile Picture" class="profile-img" />
      </div>
  
      <!-- Profile Information -->
      <div class="profile-info">
        <h1 class="profile-name">Hello, {{profileDetails.username}}</h1>
        <button class="edit-btn">Edit Profile</button>
        <!-- (click)="editProfile()" -->
    
      </div>
    </div>
  
    <!-- Navigation Links -->
    <div class="profile-links">
      <h2>Quick Links</h2>
      <ul>
        <li><a routerLink="/profile/5asd46sa46d/cart">Go to Cart</a></li>
        <li><a routerLink="//profile/5asd46sa46d/uploads">Your books</a></li>
        <li><a routerLink="/profile/5asd46sa46d/purchases">Your Purchases</a></li>
        <li><a routerLink="/profile/5asd46sa46d/reviews">Your Reviews</a></li>
      </ul>
    </div>
  </section>
  