<div class="auth-container">

    <div id="login-form" class="form-section">
        <h1>Login</h1>
        <form [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group">
                <label for="login-username">Username:</label>
                <input 
                [class]="
                isFieldTextMissing('username') || isNotMinLength || isUsernameNotValid
                  ? 'input-error'
                  : ''
              "
                type="text" 
                id="login-username" 
                placeholder="Enter your username" required
                formControlName="username"
                >
            </div>

            @if(form.get('username')?.touched){
                <div>
                  @if(form.get('username')?.errors?.['required']){
                  <p class="error">Username is required!</p>
                  }
                  @if(form.get('username')?.errors?.['minlength']){
                  <p class="error">Username must be at least 6 characters!</p>
                  }
                  @if(form.get('username')?.errors?.['usernameValidator']){
                    <p class="error">Username must contain only letters and nums!</p>
                    }
                </div>
                }

            <div class="form-group">
                <label for="login-password">Password:</label>
                <input 
                [class]="(
                (form.get('password')?.touched &&
                form.get('password')?.errors?.['required'] ) ||
                (form.get('password')?.touched && 
                form.get('password')?.errors?.['minlength'])
             ) ? 'input-error' : ''"
                type="password" 
                id="login-password" 
                placeholder="Enter your password" required
                formControlName="password"

                >
            </div>

            @if(form.get('password')?.touched){
                <div>
                  @if(form.get('password')?.errors?.['required']){
                  <p class="error">Password is required!</p>
                  }
                  <!--  -->
                  @if(form.get('password')?.errors?.['minlength']){
                  <p class="error">Password must be at least 6 characters!</p>
                  }
                </div>
                }

            <div class="form-actions">
                <button type="submit"  [disabled]="form.invalid" [style]="{backgroundColor: form.invalid? 'gray' : 'rgb(248, 189, 138)' }"  class="auth-btn">Login</button>
            </div>

            <p class="form-link">
                Don't have an account? <a routerLink="/register">Register here</a>.
            </p>
        </form>
    </div>

</div>
