.search-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}

.search-bar{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    text-align: center;
    height: 30px;
    border: 1px solid rgb(248, 189, 138);
    background-color: white;
    z-index: 10;
}


.search-btn{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 34px;
    background-color: white;
    border: 1px solid rgb(248, 189, 138);
}

.search-btn:hover{
    cursor: pointer;
    background-color: rgb(248, 189, 138);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(248, 189, 138) 0px 8px 16px -8px;

}

.search-btn:active{
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(248, 189, 138) 0px 8px 16px -8px;

}

.search-bar:hover {
    font-weight: 700;
   

}

.search-bar:focus  {
    font-weight: 700;
    outline: #4CAF50;
}
.books-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 15px;
    row-gap: 20px;
  
    }
    



.books-grid {

    gap: 20px; /* Adds spacing between books */
    padding: 10px;
}

.book-preview {
    display: flex;
    width: 100%; 
    max-width: 600px; 
    overflow: hidden;
    background-color: #f9f9f9;
}

.book-preview:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(248, 189, 138) 0px 8px 16px -8px;
}

.book-img {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px;
}

.book-img img {
    max-width: 100%; 
    height: auto;
}

.book-details {
    flex: 2; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.title{
    margin-top:  0;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 6px;
}

.author,
.genre,
.year{
    font-size:  12px;
    color: rgb(117, 116, 116);
    margin-bottom: 1px;

}

.price {
    font-size: 16px;
    font-weight: 600;
}
.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.add-link {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.add-link a {
    font-size: 1.2rem;
    color: #4CAF50;
    text-decoration: none;
    border: 1px solid #4CAF50;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.add-link a:hover {
    background-color: #4CAF50;
    color: white;
}

.add-link a:active {
    background-color: #65b6e6;
    color: white;
}

@media (max-width: 768px) {
    .book-preview {
        flex-direction: column;
    }

    .book-img, .book-details {
        flex: none; 
    }
}

@media (min-width: 1600px) {
    .books-grid{

        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

@media (max-width: 1000px) {
    .books-grid{

        grid-template-columns:1fr 1fr ;
    }
}
