<section class="search-section">
    <div>
    
        <input class="search-bar" type="text" placeholder="Search books...">
    </div>
    <div>

        <button class="search-btn">Search</button>
    </div>
</section>


<section class="books-grid">
    <div class="book-preview">
        <div class="book-img">
            <img class="imgage" src="https://play-lh.googleusercontent.com/xo2HfLoAszntYndTjrUhZXqa7xCmeSkSXxcsPPeQx3-cRrzYSGmbjSwKO2F7o-RWuJhy" >
        </div>
        <div class="book-details">
            <p class="title">Harry Potter and somethig</p>
            <p class="author">J.k.Rowling</p>
            <p class="genre">Magicals</p>
            <p class="year">2003</p>
            <p class="descrition">Description</p>
        </div>
        <div></div>
    </div>

    <div class="book-preview">
        <div class="book-img">
            <img class="imgage" src="https://play-lh.googleusercontent.com/xo2HfLoAszntYndTjrUhZXqa7xCmeSkSXxcsPPeQx3-cRrzYSGmbjSwKO2F7o-RWuJhy" >
        </div>
        <div class="book-details">
            <p class="title">Harry Potter and somethig</p>
            <p class="author">J.k.Rowling</p>
            <p class="genre">Magicals</p>
            <p class="year">2003</p>
            <p class="descrition">Description</p>
        </div>
        <div></div>
    </div>

    <div class="book-preview">
        <div class="book-img">
            <img class="imgage" src="https://play-lh.googleusercontent.com/xo2HfLoAszntYndTjrUhZXqa7xCmeSkSXxcsPPeQx3-cRrzYSGmbjSwKO2F7o-RWuJhy" >
        </div>
        <div class="book-details">
            <p class="title">Harry Potter and somethig</p>
            <p class="author">J.k.Rowling</p>
            <p class="genre">Magicals</p>
            <p class="year">2003</p>
            <p class="descrition">Description</p>
        </div>
        <div></div>
    </div>

    <div class="book-preview">
        <div class="book-img">
            <img class="imgage" src="https://play-lh.googleusercontent.com/xo2HfLoAszntYndTjrUhZXqa7xCmeSkSXxcsPPeQx3-cRrzYSGmbjSwKO2F7o-RWuJhy" >
        </div>
        <div class="book-details">
            <p class="title">Harry Potter and somethig</p>
            <p class="author">J.k.Rowling</p>
            <p class="genre">Magicals</p>
            <p class="year">2003</p>
            <p class="descrition">Description</p>
        </div>
        <div></div>
    </div>

    <div class="book-preview">
        <div class="book-img">
            <img class="imgage" src="https://play-lh.googleusercontent.com/xo2HfLoAszntYndTjrUhZXqa7xCmeSkSXxcsPPeQx3-cRrzYSGmbjSwKO2F7o-RWuJhy" >
        </div>
        <div class="book-details">
            <p class="title">Harry Potter and somethig</p>
            <p class="author">J.k.Rowling</p>
            <p class="genre">Magicals</p>
            <p class="year">2003</p>
            <p class="descrition">Description</p>
        </div>
        <div></div>
    </div>
   
</section>