<section class="search-section">
    <div>
    
        <input class="search-bar" type="text" placeholder="Search books...">
    </div>
    <div>

        <button class="search-btn">Search</button>
    </div>
</section>


@if (isBooksEmpty) {
    <section>
        <div>
            <h2 class="main-title">No books uploaded yet!</h2>
            <div class="add-link">
                <a routerLink="/add">Add</a>
            </div>
        </div>
    </section>


} @else {
    <section>
        <div>
            <h2 class="main-title">View all books!</h2>
        </div>
    </section>
    
<section class="books-grid">
    @for (book of books; track $index) {

        <div class="book-preview" routerLink="/all/details/{{book._id}}">
            <div class="book-img">
                <img class="imgage" src="{{book.imageUrl}}" >
            </div>
            <div class="book-details">
                <p class="title">{{book.title}}</p>
                <div>
                    <p class="author">{{book.author}}</p>
                    <p class="genre">{{book.genre}}</p>
                    <p class="year">{{book.year}}</p>
                </div>
                <p class="price">Price: {{book.price}} lv.</p>
            </div>
            <div></div>
        </div>
    }
    
</section>
}
